.buttonStyle{
    border-radius: 25%;
    border: solid black;
    border-width: 0px 3px 3px 0px;
    background-color: aliceblue;
    padding: 1px 25px 1px 25px;
    margin: 15px 0px;

}
.barDetails p{
    background-color: aliceblue;
    margin: 25px 0px;
    text-align: center;

}

.itemsalin{
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.newBarForm{
    text-align: center;
    background-color: white;
    margin: 5px 0px;
    border-radius: 5%;
}

.addpadding{
padding-top: 10px;}

h2{
padding-top: 10px;
}

input{
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    text-align: center;
    border-width: 0px 3px 3px 0px;
    background-color: aliceblue;
}

.div-sep-line {
	border-bottom: solid 1px #aaa;
	height: 5px;
	width: 100%;
}

.position{
    border: solid rgb(188, 214, 253) 2px;
    margin-top: 5px;
    background-color: aliceblue;

}

.carSize img{
width: 25px;    
}